.calculator {
    /* flex-wrap: wrap; */
    width: 600px;
    height: 1100px;
    margin: auto;
    align-content: flex-end;
    justify-content: center;
    border-radius: 50px;
    background-color: #1C1C1C;
    padding-bottom: 20px;
}

button {
    width: 128px;
    height: 128px;
    border: none;
    border-radius: 64px;
    margin: 11px;
    background-color: #505050;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}

button:hover {
    background-color: #797979;
}

button:active {
    transform: translateY(4px);
}

button:focus {
    outline: 0;
    box-shadow: none;
}

button:nth-child(3) {
    background-color: #D4D4D2;
    color: black;
}

button:nth-child(4) {
    background-color: #D4D4D2;
    color: black;
}

button:nth-child(5) {
    background-color: #D4D4D2;
    color: black;
}

button:nth-child(6) {
    background-color: #D4D4D2;
    color: black;
}

button:nth-child(10) {
    background-color: #FF9500;
}

button:nth-child(14) {
    background-color: #FF9500;
}

button:nth-child(18) {
    background-color: #FF9500;
}

button:nth-child(21) {
    background-color: #FF9500;
}

button:nth-child(22) {
    background-color: #FF9500;
}

#bar1 {
    width: 550px;
    height: 140px;
    color: rgba(255, 255, 255, 0.459);
    font-size: xxx-large;
    background-color: rgba(71, 71, 71, 0.7);
    padding-left: 15px;
    border-radius: 20px;
}

#bar2 {
    width: 550px;
    height: 140px;
    align-items: baseline;
    color: white;
    font-size: xxx-large;
    padding-left: 15px;
    /* background-color: rgba(71, 71, 71, 0.7); */
    border-radius: 20px;
}